body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.bg-primary-nav {
    background-color: #FFFFFF !important;
    height: 68px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bg-default {
    background-color: #265073;
}

.header-navb {
    height: 200px;
}

a.btn-login {
    border-color: #265073;
    border-radius: 15px;
    color: #265073;
    margin-left: 20px;
    margin-right: 10px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
}

a.btn-login:hover,
a.btn-login:active {
    background-color: #265073 !important;
    border-color: #265073;
    color: white !important;
}

a.btn-login:focus {
    box-shadow: none;
}

a.btn-regis {
    background-color: #eb9481;
    border-color: #eb9481;
    color: white;
    border-radius: 15px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
}

a.btn-regis:hover,
a.btn-regis:active {
    background-color: #EE6F57 !important;
    border-color: #EE6F57;
    color: white !important;
}

a.btn-regis:focus {
    box-shadow: none;
}

.navbar-nav li.nav-item a.link-navbar {
    color: #000000;
    position: relative;
    transition: color 0.5s ease;
    overflow: hidden;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding-right: 15px;
    line-height: 20px;
}

.navbar-nav li.nav-item.active a.link-navbar {
    color: #265073;
}

.link-navbar::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #EE6F57;
    transition: width 0.5s ease;
}

.link-navbar:hover::after {
    width: 100%;
}

.link-navbar:hover {
    color: #EE6F57 !important;
}

.nav-prof {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
}

.myfooter {
    background-color: #265073;
}

.footer-text {
    font-size: 14px;
}

.foot1,
.foot2,
.foot3 {
    font-size: 14px;
    text-decoration: none;
}

.foot-map {
    line-height: 1px;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
}

.contact-list {
    margin-top: 26px;
}

.kontak-km {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    line-height: 20px;
    margin-top: 2px;
}

/* landingpage */

.landing {
    width: 371px;
    height: 439px;
    object-fit: contain;
    margin-left: 50px;
}

.welcome-title {
    margin-top: 150px;
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
}

.wringin,
.songo {
    font-weight: bold;
    font-size: 64px;
}

.wringin {
    color: #265073;
}

.songo {
    color: #EE6F57;
}

.wringin2,
.songo2 {
    font-size: 28px;
    color: #000000;
}

.wringin3,
.songo3 {
    font-size: 28px;
    color: #000000;
}

.title-land-wis {
    color: #000000;
    padding-top: 20px;
    padding-bottom: 50px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
}

.welcome-fill {
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
}

.btn.btn-outline-secondary {
    border-width: 5px;
    border-radius: 0 15px 15px 0;
    border-color: #FFFFFF;
}

.land {
    border-radius: 15px 0 0 15px;
}

.btn.btn-outline-secondary i.fas.fa-search {
    color: #FFFFFF;
}

.btn.btn-outline-secondary:hover {
    background-color: #EE6F57;
}

.card-wringinsongo-view-mobile {
    background-color: #F5F5F5;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h3.text-center.mt-4.font-weight-bold {
    margin-bottom: 20px !important;
}

.card-wringinsongo-view-mobile .card-text {
    font-size: 14px;
    line-height: 23px;
}

.card-wringinsongo-view-mobile .fas.fa-info-circle {
    color: #265073 !important;
}

.card-wringinsongo-view-mobile .fas.fa-map-marked-alt {
    color: #265073 !important;
}

.card-wringinsongo-view-mobile .fas.fa-lightbulb {
    color: #265073 !important;
}

.card-wringinsongo-view-mobile .fas.fa-brain {
    color: #265073 !important;
}

.title-choose {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
}

.title-ct {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

/* wisata */
.card-search-wisata {
    border: none;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
    background-color: #265073;
    margin-top: 20px;
}

.title-wisata {
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
}

.search-icon {
    position: absolute;
    left: 0px;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 10px;
}

.search-icon i {
    color: #ccc;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.search-input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-input {
    flex: 1;
    width: 800px;
    padding: 10px;
    border: none;
    border-radius: 15px 0 0 15px;
    padding-left: 40px;
}

.search-button {
    background-color: rgb(12, 16, 78);
    width: 50px;
    border: none;
    border-radius: 0 15px 15px 0;
    border-color: initial;
    padding: 10px;
    cursor: pointer;
    position: relative;
}

.search-button i {
    color: #ffffff;
}

.list-wisata {
    padding: 40px 0;
}

.card-wisata {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    overflow: hidden;
}

.img-wisata {
    flex-basis: 40%;
    height: 250px;
    object-fit: cover;
    border-right: 1px solid #eee;
    transition: transform 0.3s ease;
}

.card-wisata:hover .img-wisata {
    transform: scale(1.05);
}


.card-wisata img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.wisata-info {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    padding: 20px;
}

.wisata-title {
    margin-bottom: 20px;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    padding-right: 15px;
    line-height: 20px;
}

.wisata-description {
    font-size: 14px;
    margin-bottom: 20px;
    text-align: justify;
    line-height: 23px;
}

.btn-detailwisata {
    background-color: #265073 !important;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 10px 15px;
    text-decoration: none;
    margin-top: auto;
    font-size: 14px;
    line-height: 23px;
}

.btn-detailwisata:hover,
.btn-detailwisata:active {
    background-color: #1F3C88 !important;
    color: #fff !important;
}

/* detail wisata */

.header-img-top {
    width: 100%;
    height: 500px;
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.header-img-top:hover {
    filter: brightness(95%);
    transform: scale(1.02);
}

.image-container {
    position: relative;
    text-align: center;
}

.image-container:hover .icon-virtual-tour {
    transform: translate(-50%, -50%) scale(1);
}

.icon-virtual-tour {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #fff;
    background-color: #00000050;
    border-radius: 50%;
    padding: 10px;
    box-sizing: content-box;
    transition: transform 0.3s ease, background-color 0.2s ease;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-virtual-tour:hover {
    background-color: #0000009d;
}

.head-tittle-dw {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    line-height: 45px;
    color: #ffffff;
}

.checked {
    color: orange;
}

.maps-icn {
    color: #ffffff;
    border: 1px solid #fff;
    border-radius: 5%;
    font-size: 30px;
    margin-top: 20px;
    padding-top: -5px;
}

.maps-icn:hover {
    color: #000000;
    border: 1px solid #000000;
}

.btn-mapsl {
    background-color: #265073 !important;
    color: #ffffff;
    border: none;
    border-radius: 15px;
}

.btn-mapsl:hover,
.btn-mapsl:active {
    background-color: #1F3C88 !important;
    color: #ffffff !important;
    border-radius: 15px;
}

.nav-tabs .nav-link {
    border: none;
    border-radius: 0;
    background-color: transparent;
    color: #000;
    font-weight: bold;
    padding: 10px 20px;
    margin-right: 10px;
    transition: all 0.3s ease;
}

.nav-tabs .nav-link.active {
    border-bottom: 2px solid #265073;
    color: #265073;
}

.nav-tabs .nav-link:hover {
    border-bottom: 2px solid #EE6F57;
    color: #EE6F57;
}

.tab-content {
    background-color: #f8f9fa;
    padding: 20px;
    border: 3px solid #265073;
    border-top: none;
    border-radius: 0 0 5px 5px;
}

.facility-card {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #265073;
    transition: transform 0.3s ease;
    transform-origin: top;
    transform: scaleY(0);
    z-index: 0;
}

.facility-card:hover .overlay {
    transform: scaleY(1);
}

.facility-card .card-title,
.facility-card .card-text,
.facility-card i.material-icons {
    position: relative;
    z-index: 1;
    color: inherit;
}

.facility-card:hover .card-title,
.facility-card:hover .card-text,
.facility-card:hover i.material-icons {
    color: white;
}

.reserv-tiket {
    background-color: #265073 !important;
    color: #ffffff !important;
    border-radius: 15px;
    width: 100%;
    border: none;
}

.reserv-tiket:hover,
.reserv-tiket:active {
    background-color: #1F3C88 !important;
    color: #ffffff !important;
    border-radius: 15px;
}

.tesp-dw {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
}

/* about */
.bg-about {
    background-color: #f8f9fa;
}

.about-h {
    color: #000000;
    font-size: 25px;
    text-align: left;
    margin-top: 0px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    line-height: 45px;
}

.titl-about {
    color: #000000;
    text-align: center;
    margin-bottom: 30px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
}

.img-about-desc {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 5px;
    border: 1px solid rgba(0, 0, 0, 0.096);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.about-p {
    color: #000000;
    font-size: 14px;
    text-align: justify;
    margin-right: 32px;
    margin-top: 10px;
    background-color: #f9f7f7e0;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.096);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    line-height: 23px;
}

/* contact us */
.contact-header {
    color: #EE6F57;
    font-size: 28px;
    padding-top: 30px;
}

.form-group-margin {
    margin-bottom: 20px;
}

.card-contact {
    border-radius: 15px;
    box-shadow: 0 10px 40px 0 rgba(51, 73, 94, 0.15);
}

.label-title {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}

.btn-send {
    background-color: #265073;
    color: #ffffff;
    border: none;
    border-radius: 15px;
}

.btn-send:hover {
    background-color: #1F3C88;
    color: #ffffff;
    border-radius: 15px;
}

/* profile */
.centered-section-1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 50px;
    margin-top: 20px;
}

.card {
    box-shadow: 0 10px 40px 0 rgba(51, 73, 94, 0.15);
    background-color: #fff;
    border-radius: 15px;
    border: none;
    position: relative;
    margin-bottom: 30px;
}

.upload-icon {
    position: absolute;
    top: 90%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #1F3C88;
    cursor: pointer;
}

.card-profile-img {
    width: 200px;
    height: 200px;
}

.profile-widget-description {
    position: relative;
}

.profile-title-card1 {
    color: #265073;
    padding-bottom: 10px;
}

.profile-title-card2 {
    color: #265073;
    padding-left: 20px;
}

.profile-title-card3 {
    color: #265073;
    text-align: center;
    padding-bottom: 30px;
}

.profile-title-card4 {
    color: #265073;
    padding-top: 10px;
}

.btn-profile {
    background-color: #265073;
    color: #ffffff;
    padding: 5px 25px;
    border-radius: 15px;
}

.btn-profile:hover {
    background-color: #1F3C88;
    color: #ffffff;
    border-radius: 15px;
}

.form-control {
    border-radius: 10px;
}

/* Reservasi User*/
.btn-custom-str {
    width: 100%;
    background-color: #265073;
    color: #ffffff;
}

.btn-custom-str:hover {
    background-color: #1F3C88;
    color: #ffffff;
}

.card-date-res {
    margin-top: -10px;
}

.card-tick-res {
    margin-top: -10px;
}

.card-kod-res {
    margin-top: 20px;
}

.btn-test {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.btn-testimoni {
    border-radius: 20px;
    background-color: #265073;
    color: #ffffff;
}

.btn-testimoni:hover {
    background-color: #1F3C88;
    color: #ffffff;
}

.dt-res {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.pagination .page-item.active .page-link {
    background-color: #265073;
    border-color: #265073;
    color: #fff;
}

.pagination .page-item.disabled .page-link {
    background-color: #f8f9fa;
    border-color: #dee2e6;
    color: #ccc;
}

.pagination .page-link {
    background-color: #f8f9fa;
    border-color: #dee2e6;
    color: #265073;
}

.pagination .page-link:hover {
    background-color: #e9ecef;
    border-color: #dee2e6;
    color: #EE6F57;
}

/* transaksi wisata */
.tr-wisata {
    text-align: center;
}

.tr-jdl {
    margin-left: 40px;
}

.tr-jml,
.tr-tb,
.tr-tgl {
    margin-top: -15px;
}

.status-text {
    margin-left: 10px;
    font-size: 16px;
    color: #ffc107;
}

.status-text2 {
    margin-left: 10px;
    font-size: 16px;
    color: #198754;
}

.btn-byr {
    border-radius: 20px;
    background-color: #265073 !important;
    color: #ffffff;
    font-size: 16px;
}

.btn-byr:hover,
.btn-byr:active {
    background-color: #1F3C88 !important;
    color: #ffffff !important;
}

.tr-crd {
    box-shadow: 4px rgba(0, 0, 0, 0.1);
    border: 2px solid #ccc;
    margin-bottom: 5px;
}

.btn-testim {
    border-radius: 20px;
    background-color: #265073 !important;
    color: #ffffff;
    font-size: 16px;
}

.btn-testim:hover,
.btn-testim:active {
    background-color: #1F3C88 !important;
    color: #ffffff !important;
}

.btn-testimsc {
    border-radius: 20px 0 0 20px;
    background-color: #265073 !important;
    color: #ffffff;
    font-size: 16px;
}

.btn-testimsc:hover,
.btn-testimsc:active {
    background-color: #1F3C88 !important;
    color: #ffffff !important;
}

.btn-addts {
    border-radius: 20px;
    background-color: #265073 !important;
    color: #ffffff;
    font-size: 16px;
}

.btn-addts:hover,
.btn-addts:active {
    background-color: #1F3C88 !important;
    color: #ffffff !important;
}

.btn-xcls {
    border-radius: 0 20px 20px 0;
}

.custom-alert {
    width: 86%;
    margin-left: 30px;
    font-size: 16px;
    background-color: #fc544b;
    color: #FFFFFF;
}

.alert-clr {
    color: #000000;
}

.alert-scs {
    background-color: #63ed7a;
    width: 96%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: -10px;
    font-size: 16px;
    color: #FFFFFF;
}

.close-alrt {
    background-color: #63ed7a;
    border: none;
    color: #FFFFFF;
}

.alert-dgr {
    background-color: #fc544b;
    width: 96%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: -10px;
    color: #FFFFFF;
    font-size: 16px;
}

.close-alrt2 {
    background-color: #fc544b;
    border: none;
    color: #FFFFFF;
}

.close {
    background-color: #fc544b;
    border: none;
    color: #FFFFFF;
}

.ml-customs {
    margin-left: 30px;
}

.card-wringinsongo-view-mobile {
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;
}

.card-wringinsongo-view-mobile::before,
.card-wringinsongo-view-mobile::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    z-index: 1;
}

.card-wringinsongo-view-mobile::before {
    top: -100%;
    background: linear-gradient(to bottom, #265073, #265073);
}

.card-wringinsongo-view-mobile:hover::before {
    top: 0;
}

.card-wringinsongo-view-mobile:hover::after {
    opacity: 1;
}

.card-wringinsongo-view-mobile:hover {
    color: #ffffff;
}

.card-wringinsongo-view-mobile .card-body {
    position: relative;
    z-index: 2;
}

.card-wringinsongo-view-mobile:hover .fas {
    color: #ffffff !important;
}

.carousel-item img {
    height: 670px;
    object-fit: cover;
    width: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: transparent;
    background-color: #212529;
    max-width: 50px;
    border-radius: 20px;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
}

.img-container .col-md-3,
.img-container .col-md-6 {
    display: flex;
    align-items: center;
}

.img-container img {
    width: 100%;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.096);
    transition: transform 0.3s ease;
}

.img-container img:hover {
    transform: scale(1.05);
}

.equal-height-img {
    height: 200px;
    overflow: hidden;
}

.hero-height {
    height: 365px;
    overflow: hidden;
}

.equal-height-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.description-abt {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.5);
}

.btn-play:hover {
    color: #265073;
    background-color: transparent;
}

.deskripsi-wrg {
    padding: 10px;
    margin: 0 auto;
    width: 100%;
}

.deskripsi-wrg:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.btn-corrousell {
    background-color: #ffffff !important;
    color: #265073;
    font-weight: 600;
    line-height: 16px;
    border: none;
    border-radius: 15px;
    padding: 15px 20px;
    text-decoration: none;
    margin-top: auto;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-corrousell:hover,
.btn-corrousell:active {
    background-color: #265073 !important;
    color: #ffffff !important;
}

.tittle-carausel {
    font-size: 66px;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    background-color: transparent;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    line-height: 99px;
}

.p-carausel {
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    line-height: 26px;
}

.carousel-caption {
    right: 0;
    left: 0;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-lswisata {
    position: relative;
    overflow: hidden;
}

.card-lswisata img {
    transition: transform 0.3s ease;
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.card-lswisata:hover img {
    transform: scale(1.1);
}

.wisata-infox {
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: #fff;
    transition: bottom 0.3s ease;
    text-align: center;
}

.card-lswisata:hover .wisata-infox {
    bottom: 0;
}

.land-wisata-tiitle {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
}

@media (max-width: 768px) {
    .nav-item {
        text-align: center;
        background-color: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.055);
    }

    .nav-item:hover {
        text-align: center;
        background-color: #f8f9fa;
        border: 1px solid rgba(0, 0, 0, 0.055);
    }

    a.btn-login {
        margin: 5px;
    }

    a.btn-regis {
        margin: 5px;
    }

    .navbar-nav {
        margin-top: 20px;
    }

    .kontak-km {
        margin-top: 20px;
        font-family: Poppins, sans-serif;
        font-weight: 700;
        line-height: 20px;
    }

    .contact-list {
        margin-top: 0px;
    }

    .about-h {
        font-size: 24px;
        text-align: center;
    }

    .titl-about {
        text-align: center;
        margin-bottom: 10px;
    }

    .landing {
        width: 100%;
        height: auto;
        margin-left: 0;
        object-fit: cover;
        margin-top: 0px;
    }

    .card-contact {
        padding-top: 20px !important;
    }

    .about-p {
        font-size: 14px;
        margin-right: 0px;
        margin-left: 0px;
    }

    .contact-header {
        color: #EE6F57;
        font-size: 24px;
        padding-top: 30px;
    }

    .title-wisata {
        color: #FFFFFF;
        font-size: 20px;
        text-align: center;
    }

    .wringin,
    .songo {
        font-weight: bold;
        font-size: 46px;
    }

    .search-input {
        flex: 1;
        width: 250px;
        padding: 10px;
        border: none;
        border-radius: 15px 0 0 15px;
        padding-left: 40px;
    }

    .title-wisata {
        font-size: 20px;
        text-align: center;
    }

    .card-profile1 {
        width: 387px;
    }

    .card-profile1-tr {
        width: 387px;
    }

    .upload-icon {
        position: absolute;
        top: 90%;
        left: 88%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        color: #1F3C88;
        cursor: pointer;
    }

    .btn-profile {
        width: auto;
        margin: 0 auto;
        display: block;
        padding: 10px 20px;
        border-radius: 15px;
    }

    .profile-title-card2 {
        color: #265073;
    }

    .card {
        margin: 0 auto;
        width: 95%;
        box-sizing: border-box;
        margin-bottom: 15px;
    }

    .profile-widget-description,
    .profile-widget-description .form-control {
        width: auto;
        max-width: 100%;
        margin: 0 10px;
        box-sizing: border-box;
    }

    .card-title-res {
        text-align: center;
        margin-top: 10px;
    }

    .card-kod-res,
    .card-date-res,
    .card-tick-res {
        text-align: center;
    }

    .btn-test {
        width: 100%;
        margin-top: 20px;
        justify-content: center;
    }

    .rs-ws {
        display: flex;
        flex-direction: column;
    }

    .dt-res .dt-ws>div {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .status-text {
        margin-left: 5px;
    }

    .tr-jdl,
    .col-6 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0;
    }

    .tr-jdl p,
    .col-6 p {
        margin-top: 5px;
    }

    .tr-jdl p strong,
    .col-6 p strong {
        display: inline-block;
        width: 120px;
    }

    .custom-alert {
        width: 86%;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {

    .nav-item {
        text-align: center;
        background-color: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.055);
    }

    .nav-item:hover {
        text-align: center;
        background-color: #f8f9fa;
        border: 1px solid rgba(0, 0, 0, 0.055);
    }

    a.btn-login {
        margin: 5px;
    }

    a.btn-regis {
        margin: 5px;
    }

    .welcome-title {
        text-align: center;
        width: 700px;
    }

    .welcome-fill {
        text-align: center;
        width: 700px;
    }

    .search-form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 700px;
    }

    .about-h {
        font-size: 24px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 5px;
    }

    .about-p {
        font-size: 14px;
        margin-left: 0px;
        margin-left: 0px;
    }

    .landing {
        max-width: 95%;
        height: auto;
        margin-top: 67px;
        margin-left: 8px;
    }

    .search-input {
        flex: 1;
        width: 500px;
        padding: 10px;
        border: none;
        border-radius: 15px 0 0 15px;
        padding-left: 40px;
    }

    .btn-testimoni {
        font-size: 12px;
    }

    .card-date-res .card-tick-res,
    .card-kod-res {
        font-size: 14px;
    }

    .custom-alert {
        width: 82%;
        height: auto;
    }

    .card-profile-img {
        width: 120px;
        height: 120px;
    }

}